<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="LoginMethod" value="WITHLOGIN"/>
		<add key="LoginFrom" value="DB"/>
		<add key="UserListTable" value="counter.user"/>
		<add key="FieldUserLogin" value="userid"/>
		<add key="FieldUserLoginType" value="String"/>
		<add key="FieldUserPwd" value="password"/>
		<add key="FieldUserPwdType" value="String"/>
		<add key="TablesFile" value="permission.config"/>
		<add key="LoginFile" value="login.aspx"/>
		<add key="StartPage" value="View_Data_Bu.aspx"/>
		<add key="LCID" value="2057"/>
		<add key="StringEmpty" value="DBNull"/>
	</appSettings>
	<connectionStrings>
 
  <add name="SA_SystemConnectionString" connectionString="Data Source=172.30.203.155;Initial Catalog=SA_System;User ID=sa;Password=1234"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<globalization culture="en-GB"/>
		<!--<globalization culture="th-TH"/>-->
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
